.AboutLeft-Container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
}

.About-heading {
    color: rgba(72, 2, 2, 0.636);
    font-size: 4rem;
    cursor: default;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}

.About-li {
    margin: 1.5rem;
    padding: 1.5rem;
    text-align: left;
    color: rgba(72, 2, 2, 0.636);
    font-size: 1.25rem;
    cursor: default;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: bold;
}

.About-link {
    text-align: center;
    color: rgba(72, 2, 2, 0.636);
    font-size: 1.25rem;
    cursor: pointer;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: bold;
}